*{
    margin: 0;
    padding: 0;
}

body {
    background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
    height: 100dvh;
    display: flex;
    justify-content: center;    
}

div{
    /* color: rgb(1, 177, 217); */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4dvh;
    padding-left: 1rem;
}

.hi{
    display: flex;
    color:rgb(1, 177, 217);
    justify-content: center;
    position: relative;
    padding: 3rem 2rem;
    animation: slideLeft 2s forwards;
}

.name{
    color: rgb(1, 177, 217);
    opacity: 0%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 4rem 2rem;
    animation: slideLeft 2s forwards;
    animation-delay: 1.5s;
}

.welcome{
    color: rgb(1, 177, 217);
    opacity: 0%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    animation: slideLeft 2s forwards;
    animation-delay: 3s;
}

@keyframes slideLeft {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 700px){
      div{
        font-size: 4dvh;
      }

      .hi{
        display: flex;
        position: relative;
        justify-content: start; 
      }
      .name{
        display: flex;
        position: relative;
        justify-content: start;
      }
      .welcome{
        display: flex;
        position: relative;
        justify-content: start;
      }

     
}




