*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 2rem 2rem;

}
.navbar p,
.navbar-menu__container p{
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    justify-content: end;

    margin: 0rem 2rem;
    cursor: pointer;

}

.mobile{
    display: none;
}

.navbar-menu__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute; /*This would make it not go over everything */
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.navbar-menu__container p {
    margin: 1rem 0;
}

/* for computers*/
@media screen and (max-width: 1050px) {

}

/* for screens like ipad*/
@media screen and (max-width: 700px) { 

    .navbar {    
        display: none;
    }

    .mobile{
        display: flex;
        justify-content: end;
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .mobile{
        display: flex;
        padding: 2rem 4rem;
    }
    
    .navbar-menu__container {
        top: 20px;
    }

}